// Place all the styles related to the homework controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*---------------------------

기본적인 세팅

----------------------------*/

*, *::after, *::before {
  // 전체 선택자로 box-sizing을 설정해봅시다 ^-^
}
html {
  // 제플린을 참고해서 typography를 설정해봅시다 ^-^
  // font-weight : 여러 개를 나열해놓아야 하나가 로딩이 안되어도 다른 폰트가 일단 뜬다. 
  // font-size : 1rem에 해당될 수치
  // font-weight, line-height, color : 전체적으로 많이 사용되고 있는 값을 부여
}
.sr-only {
  // screen에 보이지는 않지만, screen reader가 읽어줄 내용을 font-size: 0;과 display:none; 중 뭘로 해야할까요? ^0^
}
section {
  // section마다 하단 여백과 선이 있습니다 ^-^
}
section::after {
  // 부모에게 집나간 자식이 왼쪽에 붕 떠 있다는 걸 clearfix로 알려주자! (float를 사용한 곳에만 쓰면 됨.)
}
.heading {
  // section마다 제목이 있습니다 
}
.mobile-1, .desktop-1, .mobile-2, .desktop-2, .mobile-3, .desktop-3, .mobile-4, .desktop-4, .mobile-5, .desktop-5, .mobile-6, .desktop-6, .mobile-7, .desktop-7, .mobile-8, .desktop-8, .mobile-9, .desktop-9, .mobile-10, .desktop-10, .mobile-11, .desktop-11, .mobile-12, .desktop-12 {
  // float를 이용한 grid system 만들어놓았습니다 - bootstrap3과 같은 방식 (offset, pull, push 등)
  // mobile 과 desktop 두 개만 만듦 - bootstrap3의 col-xs-가 mobile-, col-sm-이 desktop- 입니다 ^-^
  position: relative;
  float: left;
  min-height: 1px;
}

/* mobile 세팅 */

@media (max-width: 768px) {
  html {
    // mobile의 1rem 새로 세팅
  }
  .heading {
    // mobile의 heading은 가운데정렬
  }
  // 그외 필요한 것 추가하세요
}

/*---------------------------

header 

----------------------------*/

.header {
  
}

/* menu */
.menu {
  // 제플린 psd_index_sidebar 참고
}

/* logo */
.logo {
}

/* user */
.user {
}
.user-icon {
}
.profile {
}

/* landing */
.hero {
  // 가상선택자를 이용해서 백그라운드에만 opacity를 설정해봅시다 ^-^
  // background-attachment를 이용해서 parallax 효과를 줘봅시다 ^-^
}
.landing-text {
  p {
    // 마진 겹침 현상의 대표적 예를 찾아봅시다 ^-^
  }
}

/* best */
.best-img {
}
.best-text {
}

/* popular */
.popular-img-list { 
}

/* all */
.all-img-list {
}



/* icon */

@each $name in user, top, search {
  // 반복문으로 아이콘을 한꺼번에 처리해봅시다. 세 개 뿐이므로 스프라이트 안 했음. SCSS에서 변수 사용은 #{$name}으로 합니다.
  
}